body{
    background: #000;
}
.gifDisplay{
    display: grid;
    margin: 2rem;
    padding: 1rem;
    gap: 15px;
    max-width: 100%;
    object-fit: contain;
    border-style: double;
    border-color: #bafeae;
}
@media (min-width: 768px){
    .gifDisplay{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        /*opted for 3 gifs bc 4 made there be a horizontal scroll bar, even after obj fit contain*/
    }
}
@media (max-width: 480px){
    .gifDisplay{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}
p{
    color: #39ff14;
    font-family: 'Courier New', Courier, monospace;
}