body{
    background: #000;
}
.gif-location{
    display: grid;
    margin: 2rem;
    gap: 20px;
}
@media (min-width: 768px){
    .gif-location{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}
@media (max-width: 480px){
    .gif-location{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}
p{
    color: #39ff14;
    font-family: 'Courier New', Courier, monospace;
}